//Code
$code-colors-support-parser: (
    background-color: null,
    color: 'color'
) !default;


$code-colors-support-extra-colors-palette: () !default;
$code-colors-support-skip-colors-palette: null !default;